<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>The Acacia Strain</title>
    <link href="/level2holberton.css" rel="stylesheet">
    {% include 'style' %}
    <link href="/stylesQuest.css" rel="stylesheet">
  </head>

<body class="works_on_smartphone">
<div class="main_page">
  <header>
    {% include 'header' %}
  </header>

<main>
{% block content %}{% endblock %}
</main></div>

<footer>



</footer>

</body>

</html>
