{% extends "base.html" %}
{% block content %}
  <article>
      <div class="content_section floating_element">
		<div class="section_header section_header_red">
		<h6>Information</h6>
		</div>
			<div class="content_section_text">
	<h3 style="font-family:Luckiest Guy">
	    The Acacia Strain:</h3>
	<p>A heavy metal band from Chicopee, Massachusetts established in 2001.</p>

	  <h3 style="font-family:Luckiest Guy">
	    Slogan:</h3>
	  <p>"Tune low; die slow."</p>

	  <h3 style="font-family:Luckiest Guy">
	    This website:</h3>
		<ul>
		<li>is an excercise in web development, which serves as part of the webmaster's application for admission to The Holberton School.</li>
		<li>was created because The Acacia Strain currently lacks an official website, relying exclusively on social media accounts for its web presence.</li>
		<li>is designed to appear to be an official website with the exception of the "log" webpage, where the webmaster chronicles his experiences with the band.</li>
		</ul>
		</div>


		<div class="section_header">
			<h6>Photo</h6>
		</div>
		<div class="content_section_text"><p><img src="images/13_2_tas_photo.jpg" alt="band photo"></p>
		</div>

		<div class="section_header">
			<h6>Outside Resources</h6>
		</div>
		<div class="content_section_text">
		<p><a target="_blank" href="https://en.wikipedia.org/wiki/The_Acacia_Strain">Wikipedia</a></p>
		<p><a target="_blank" href="https://theacaciastrain.bandcamp.com/">Bandcamp</a></p>
		<p><a target="_blank" href="http://www.riserecords.com/press-assets-details.php?artist=The_Acacia_Strain_3">Rise Records Media Assets</a></p>

		</div>
      </div></article>
{% endblock %}
