{% extends "base.html" %}
{% block content %}
  <article>
    <div class="text-center">
      <div class="content_section floating_element">
	  
        
		<div class="section_header section_header_red">
			<h5>Releases</h5>    
		</div>        
		
		
		<div class="content_section_text">
	
		<div class="section_header">
		<h6>Gravebloom (2017) <a href="https://www.youtube.com/watch?v=wnocb50IK6g" target="_blank">Listen |</a><a target="_blank" href="http://amzn.to/2wH04dw">| Buy</a></h6> 
		</div>
		<div class="content_album_cover"><p><img class="large" src="/images/gravebloom.jpg" alt="Gravebloom"></p></div>
			
		<div class="section_header">
		<h6>Coma Witch (2014) <a href="https://www.youtube.com/watch?v=rxLByYJHRC4" target="_blank">Listen |</a><a target="_blank" href="https://www.amazon.com/gp/product/B00N0DVQVG/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00N0DVQVG&linkCode=as2&tag=cadillacabe-20&linkId=d9e9b0bf4bc08830ed5f35d047ded480">| Buy</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=cadillacabe-20&l=am2&o=1&a=B00N0DVQVG" width="1" height="1" alt="" style="border:none !important; margin:0px !important;" /></h6> 
		</div>
		<div class="content_album_cover"><p><img class="large" src="/images/comaWitch.jpg" alt="Coma Witch"></p></div>
	
		<div class="section_header">
		<h6>Death Is the Only Mortal (2012) <a href="https://www.youtube.com/watch?v=WBlrtodfFcE" target="_blank">Listen |</a><a target="_blank" href="http://amzn.to/2fCT3WY">| Buy</a></h6>
		</div>	
		<div class="content_album_cover"><p><img class="large" src="/images/deathIs.jpg" alt="Death is the Only Mortal"></p></div>

		<div class="section_header">
		<h6>Wormwood (2010) <a href="https://www.youtube.com/watch?v=bDgTrEGASBg" target="_blank">Listen |</a><a target="_blank" href="http://amzn.to/2vzPLYv">| Buy</a></h6>
		</div>	
		<div class="content_album_cover"><p><img class="large" src="/images/wormwood.jpg" alt="Wormwood"></p></div>

		<div class="section_header">
		<h6>Continent (2008) <a href="https://www.youtube.com/watch?v=qF5rNGMvxrk&list=PLDBAomV2h3IPQwEawLRR43I0eBBKMbkA6" target="_blank">Listen |</a><a target="_blank" href="http://amzn.to/2wGRg7r">| Buy</a></h6>
		</div>	
		<div class="content_album_cover"><p><img class="large" src="/images/continent.jpg" alt="Continent"></p></div>

		<div class="section_header">
		<h6>The Dead Walk (2006) <a href="https://www.youtube.com/watch?v=a5tjHb1wsss&list=PLqAXNvwa4aZvAichgVcHlUka7caCu8GyP" target="_blank">Listen |</a><a target="_blank" href="http://amzn.to/2fE1scK">| Buy</a></h6>
		</div>	
		<div class="content_album_cover"><p><img class="large" src="/images/deadwalk.jpg" alt="The Dead Walk"></p></div>
		
		<div class="section_header">
		<h6>3750 (2004) <a href="https://www.youtube.com/watch?v=Rv9eLjPPPs0" target="_blank">Listen |</a><a target="_blank" href="http://amzn.to/2vSB2L6">| Buy</a></h6>
		</div>	
		<div class="content_album_cover"><p><img class="large" src="/images/3750.jpg" alt="3750"></p></div>
				
		<div class="section_header">
		<h6>...And Life Is Very Long (2002) <a href="https://www.youtube.com/watch?v=tbFkSLy0278" target="_blank">Listen |</a><a target="_blank" href="http://amzn.to/2wVy6Kv">| Buy</a></h6>
		</div>	
		<div class="content_album_cover"><p><img class="large" src="/images/andLife.jpg" alt="...And Life Is Very Long"></p></div>

      </div>
      </div>
      </div>

   </article>
{% endblock %}
