{% extends "base.html" %}
{% block content %}
<article>
      <div class="content_section floating_element">
		<div class="section_header section_header_red">
			<h5>Tour Dates</h5>
		</div>
		<div class="content_section_text">
	<table style="text-align:left">
<tr>
<th>Date</th>
<th>City</th>
<th>Venue</th>
</tr>
{% if shows != {} %}
{% for show in shows.items() %}
<tr>
  <td>{{ show[1][0].date }}</td>
  <td>{{ show[1][0].city }}</td>
  <td>{{ show[1][0].venue }}</td>
</tr>
{% endfor %}
{% else %}
The Acacia Strain does not currently appear to have any shows scheduled. Please enjoy the following list of past shows.
<tr>
<td>June 17, 2017</td>
<td>Salem</td>
<td>Oregon State Fair</td>
</tr>
{% endif %}

</table>

      </div>
	  </div>
      </article>
{% endblock %}
