{% extends "base.html" %}
{% block content %}
  <article>
      <div class="content_section floating_element">
        
		<div class="section_header section_header_red">
			<h6>Funniest Tweet</h6>    
		</div>
        
			<blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">A Couple Ways To Die. Gravebloom Edition. Episode Three. <a href="https://t.co/YiWSGWELFL">pic.twitter.com/YiWSGWELFL</a></p>&mdash; The Acacia Strain (@theacaciastrain) <a href="https://twitter.com/theacaciastrain/status/887024563241889792">July 17, 2017</a></blockquote><script async src="//platform.twitter.com/widgets.js"></script>
		
      </div>

   </article>
{% endblock %}
